/* VerifyCT.css */
.verify-ct-container {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .search-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .search-container input {
    flex-grow: 1;
    margin-right: 10px;
    padding: 5px;
  }
  
  .search-container button {
    padding: 5px 10px;
  }
  
  .certificates-list {
    list-style: none;
    padding: 0;
  }
  
  .certificate {
    background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent white */
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .certificate-id {
    font-weight: bold;
  }
  
  .status-button {
    padding: 5px 15px;
    border: none;
    cursor: pointer;
    /* Differentiate status colors */
  }
  
  .status-button.uploaded {
    background-color: #ffc107; /* Orange for uploaded certificates */
    color: white;
  }
  
  .status-button.declined {
    background-color: #dc3545; /* Red for declined certificates */
    color: white;
  }
  
  .status-button.verified {
    background-color: #28a745; /* Green for verified certificates */
    color: white;
  }
  