.forgot-password-container {
    background: rgba(255, 255, 255, 0.7); /* Semi-transparent white */
    border-radius: 8px;
    padding: 20px;
    width: fit-content;
    margin: auto;
    margin-top: 100px; /* Adjust as needed for your layout */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .forgot-password-container h2 {
    color: #333; /* Dark grey color for the text */
  }
  
  .forgot-password-container form {
    margin-top: 15px;
  }
  
  .forgot-password-container input[type='email'] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
    box-sizing: border-box; /* Ensures padding doesn't affect width */
  }
  
  .forgot-password-container .send-button {
    background-color: #4CAF50; /* Green background */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
  }
  
  .forgot-password-container .send-button:hover {
    background-color: #45a049; /* Slightly darker green on hover */
  }
  