.navigation {
  display: flex;
  align-items: center; /* Changed from flex-end */
  color: #F4976C;
}

.navigation a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  font-weight: bold;
}

.navigation a:hover {
  background-color: pink;
  border-radius: 4px;
}