/* Navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333; /* Or any color that matches your design */
    color: white;
  }
  
  .navbar-brand {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
  }
  
  .navbar-nav {
    display: flex;
  }
  
  .nav-link {
    text-decoration: none;
    color: white;
    padding: 10px;
    margin: 0 10px;
  }
  
  .nav-link:hover {
    text-decoration: underline;
  }
  
  
  